<!DOCTYPE html>
{% load staticfiles %}
{% load cloudinary %}
<html>
<head>
<title>Confiam-Congresso de Física Aplicada à Medicina</title>
<meta property="fb:app_id" content="106788150014600">
<meta property="fb:admins" content="100002421374214">
<meta property="og:type" content="website">
<meta property="og:title" content={{ post.nome }}>
<meta property="og:description" content={{ post.apresentacao }} >
<meta property="og:image" content="{% cloudinary_url post.foto %}" > 
<meta property="og:url" content={{ request.build_absolute_uri }}>
<meta name="author" content="Visus">
<meta name="description" content="Confiam - Congresso de Física Aplicada à Medicina da Unesp de Botucatu">
<meta name="keywords" content="radioterapia, radiodiagnóstico, medicina nuclear, congresso, física médica, unesp, botucatu">
<meta name="robots" content="index,follow">
<link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Kurale&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/confiam.css' %}">
<div class="logo">
<img src="{% static 'images/timbre.png' %}" alt="logo"/>
</div>
</head>
<body>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-102290379-1', 'auto');
ga('send', 'pageview');
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=337922706666692";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class='btns'>
		<table>	
				<tr>
					<td><h2><a href="{% url 'programacao:programacao' %}"><button class="btn1">Programação</button></a></h2></td>
				  	<td><h2><a href="{% url 'palestras:palestras' %}"><button class="btn2">Palestras<br />Palestrantes</button></a></h2></td>
				  	<td><h2><a href="{% url 'minicursos:minicursos' %}"><button class="btn3">Minicursos</button></a></h2></td>
				  	<td><h2><a href="{% url 'restaurantes:restaurantes' %}"><button class="btn4">Restaurantes</button></a></h2></td> 
				  	<td><h2><a href="{% url 'patrocinios:patrocinios' %}"><button class="btn5">Patrocínios</button></a></h2></td>
				  	<td><h2><a href="{% url 'hoteis:hoteis' %}"><button class="btn6">Hotéis</button></a></h2></td>
				  	<td><h2><a href="http://www.inscricoes.fmb.unesp.br/index.asp?configurar=true&codEvento=8044"><button class="btn7">Inscrição</button></a></h2></td>
				 </tr>
		</table>
	</div>	
	{% block content %}
	{% endblock %}
	<footer></footer>
</body>