{% extends 'core/base.html' %}
{% load cloudinary %}
{% block content %}
    <div class="post">
        {% if patrocinio.published_date %}
            <div class="date">
                {{ patrocinio.published_date }}
            </div>
        {% endif %}
        <p><h1>{{ patrocinio.nome }}</h1></p>
        <center><img>{% cloudinary patrocinio.foto %}</img></center>
        <p><h2>{{ patrocinio.apresentacao|linebreaksbr }}</h2></p>
    </div>
<div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="2"></div>
{% endblock %}