{% extends 'core/base.html' %}
{% load cloudinary %}
{% block content %}
    <div class="post">
        {% if restaurante.published_date %}
            <div class="date">
                {{ restaurante.published_date }}
            </div>
        {% endif %}
        <p><h1>{{ restaurante.nome }}</h1></p>
        <center><img>{% cloudinary restaurante.foto %}</img></center>
        <p><h2>{{ restaurante.apresentacao|linebreaksbr }}</h2></p>
    </div>
<div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="2"></div>
{% endblock %}