{% extends 'core/base.html' %}
{% load cloudinary %}
{% block content %}
<div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a></div>
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}{{ post.timestamp }}
            </div>
        {% endif %}
        <p><h1>{{ post.nome }}</h1></p>
        <center><img>{% cloudinary post.foto %}</img></center>
        <p><h2>{{ post.apresentacao|linebreaksbr }}</h2></p>
    </div>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="2"></div>
{% endblock %}