body{
	background-image:url('../images/background2.png');
	background-attachment: fixed;
	min-height: 100%;
 	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: relative;
  	top: 0;
  	left: 0;
}
.logo img{
	display: hidden;
	margin: auto;   
  	padding-left: 80px;
  	width: 60%;   
  	height: auto; 
  	margin: 0;
}

.item img{
	max-width: 50%;
	max-height: 50%;
	border-radius: 100%;
	margin:0 auto;	
	border-style: dotted;
	border-width: 5px;
	float: top;
	overflow: auto;

}
.btns{
	float: center;
	/* position: fixed; */
}
.item h1{
	font-family: 'Kurale';
	position: relative;
	margin: 0 auto;
	padding-top: 3em;
	padding-left: 4em;
	padding-right: 2em;
	word-wrap: break-word;
	text-align: center


}


.item h2{
	font-family: 'Kurale';
	position: relative;
	margin: 0 auto;
	padding-top: 3em;
	padding-left: 4em;
	padding-right: 2em;
	word-wrap: break-word;
	text-align: center;
	white-space: pre-wrap;

}

.patro h2, h1{
	font-family: 'Kurale';
	position: relative;
	margin: 0 auto;
	padding-top: 3em;
	padding-left: 4em;
	padding-right: 2em;
	word-wrap: break-word;
	text-align: center;
	white-space: pre-wrap;
	
}

.patro img{
	max-width: 50%;
	max-height: 50%;
	border-radius: 10%;
	margin:0 auto;	
	border-style: dotted;
	border-width: 5px;
	float: top;
	overflow: auto;

}
.post h2, h1{
	padding-left: 2em;
	padding-right: 2em;
	word-wrap: break-word;
	text-align: center
}

.post img{
	max-width: 50%;
	max-height: 50%;
	border-radius: 100%;
	margin:0 auto;	
	border-style: dotted;
	border-width: 5px;
	float: top;
}

.btn1{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn1:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn2{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn2:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn3{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn3:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn4{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn4:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn5{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn5:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn6{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn6:hover{
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn7{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn7:hover{
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
/*
footer{
	position: fixed; 
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	width: 100%; 
	height: 65px; 
	background: url("rodape.png");
}
*/